@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 400;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}
ol,
ul {
    margin: 0;
    list-style: none;
    font-size: inherit;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.main {
    padding: 48px 0 48px 0;
}
